.dashboard {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #00AA00;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.2em;
}

.dashboard DatePicker {
    -fx-pref-height: 30;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.dashboard TextField {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.dashboard Button {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230;
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}

.username {
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri Light";
}

.date_label {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 1.1em;
    -fx-font-family: "Calibri Light";
}

.summary_view {
    -fx-background-color: #FFFFFF;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 5;
    -fx-alignment: center_left;
}

.summary_view Line {
    -fx-stroke: #AAAAAA;
}

.section_title {
    -fx-font-size: 1.4em;
    -fx-font-family: "Calibri Light";
}

.transaction_listview {
    -fx-background-color: #EEEEEE;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #AAAAAA;
}

.transaction_listview .scroll-bar :vertical {
    -fx-scale-x: 0;
}

.list-cell {
    -fx-background-color: #EEEEEE;
    -fx-padding: 15 0 15 0;
}

.new_expense_container {
    -fx-background-color: #EEEEEE;
    -fx-padding: 20 10 20 10;
    -fx-alignment: center_left;
}

.new_expense_container Text {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.3em;
}

.new_expense_container TextField {
    -fx-pref-height: 40;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}


.new_expense_container Button {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-pref-width: 230;
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
}


.new_expense_container Button:hover {
    -fx-cursor: hand;
}
